table {
    width: 100%;
    text-align: center
}

thead {
   background-color: #e6a8a8
}

.even {
   background-color: #f7ffe6 !important
}

.odd {
   background-color: #f7ffe6 !important
}

.selected {
   background-color: #ccc !important
}
