table {
    width: 100%;
    text-align: center;
}

thead {
   background-color: #1d6ee8;
   color: yellow;
   font-weight: 900
}

.even {
   background-color: #9cb9ef !important;
   color: black;
   font-weight: normal

}

.odd {
   background-color: #acc9ff !important;
   color: black;

}

.selected {
   background-color: #1f2938 !important ;
   color: white;
   font-weight: bold

}


