<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Live Time</title>
    <meta charset="utf-8" />
    {% if refresh %}
    <meta http-equiv="refresh" content="3">
    {% endif %}
  </head>
  <body>
        {% if refresh %}
            <tr> Runing Race: {{ heat_id }} </tr>
        {% else %}
            <tr> Race: {{ heat_id }} </tr>
        {% endif %}
  <table>
      <tr>
          <th width=90 style="text-align:center">Position</th>
          <th width=90 style="text-align:center">Kart</th>
          <th width=90 style="text-align:center">Laps</th>
          <th width=90 style="text-align:center">Lap Time</th>
          <th width=90 style="text-align:center">Time</th>
          <th width=90 style="text-align:center">Diff</th>
      </tr>
      {% for result in data %}
      <tr>
          <td width=90 style="text-align:center">{{ loop.index }}</td>
          <td width=90 style="text-align:center">{{ result[0] }}</td>
          <td width=90 style="text-align:center">{{ result[1] }}</td>
          <td width=90 style="text-align:center">{{ result[2] }}</td>
          <td width=90 style="text-align:center">{{ result[3] }}</td>
          {% if  loop.first  %}
          <td width=90 style="text-align:center"></td>
          {% else %}
          <td width=90 style="text-align:center">
              {% if result[1] == data[loop.index - 2][1] %}
                  {{ ( result[4] - data[loop.index - 2][4] ) / 1000000 }}
              {% else %}
              {% set laps = data[loop.index - 2][1] - result[1] %}
                  {%  if laps > 1 %}
                      {{ laps }} Laps
                  {% else %}
                      {{ laps }} Lap
                  {% endif %}
              {% endif %}
          </td>
          {% endif %}
      </tr>
      {% endfor %}
  </table>
  </body>
</html>
