<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Live Time</title>
    <meta charset="utf-8" />
    {% if refresh %}
    <meta http-equiv="refresh" content="3">
    {% endif %}
  </head>
  <body>
        {% if refresh %}
            <tr> Runing Race: {{ heat_id }} </tr>
        {% else %}
            <tr> Race: {{ heat_id }} </tr>
        {% endif %}
  <table>
      <tr>
          <th width=90 style="text-align:center">kart</th>
          <th width=90 style="text-align:center">laps</th>
          <th width=90 style="text-align:center">lap_time</th>
      </tr>
      {% for result in data %}
      <tr>
          <td width=90 style="text-align:center">{{ result[0] }}</td>
          <td width=90 style="text-align:center">{{ result[1] }}</td>
          <td width=90 style="text-align:center">{{ result[2] }}</td>
      </tr>
      {% endfor %}
  </table>
  </body>
</html>
